<app-formulari-cerca></app-formulari-cerca>

<p class="comptador">Preferits: {{ totalPreferits() }}</p>

<hr />

<h2>Preferits</h2>

<app-preferits-panel></app-preferits-panel>

<div *ngIf="carregant()">
  <p>Carregant...</p>
</div>

<div *ngIf="error()">
  <p>{{ error() }}</p>
  <button (click)="reintentar()">Reintentar</button>
</div>

<div *ngIf="!carregant() && !error()" class="grid-elements">
  <app-targeta-element *ngFor="let e of elements()" [element]="e">
  </app-targeta-element>
</div>
